*{
      box-sizing:border-box;
    }
    .container{
      width:964px;
      border:1px solid gray;
      margin:auto;
    }


    nav{
      float:left;
      width:240px;
      border-right:1px solid gray;
      color: #333333;
    }

    article{
      float:left;
      width:720px;
      border-left:1px solid gray;
    
      margin-left:-1px;
    }